[2021-03-05 13:56] jackabox opened #1 "[Docs] Rewrite explanation for JS SDK on the onboarding."
It's not exactly clear to the end-user what the JS SDK is, or does if they haven't looked at Shopify development through external sources.

[2021-03-05 13:58] jackabox opened #2 "[Docs] Add example `.env` file so people can easily copy it across"

[2021-03-05 14:01] jackabox opened #3 "[Docs] Clear up where the `.env` values come from and what they do."
Let's try to make it a bit clearer where to grab the keys from and what they do.

[2021-03-05 14:02] jackabox opened #4 "[Docs] Explain what the Storefront API/JS SDK is"
Let's make it super clear what the Storefront API is and what it does. If we can improve the user onboarding here it'll make jumping into the front-end a lot easier.

[2021-03-05 17:44] jackabox opened #5 "Grab the total sales per product"
### Changes

- Requires a new query scope of "reports".

### Benefits

- Would allow for users to poll for the most popular products.

[2021-03-05 18:09] #2 closed

[2021-03-05 18:09] #3 closed

[2021-03-05 18:26] #4 closed

[2021-03-05 18:26] #1 closed

[2021-03-08 12:21] jackabox opened #8 "Add in detection for if a product variant is out of stock"
This will touch several areas as we'll need to ensure it can be used in a multitude of ways. These are

- Variants Tag
- Filter for Loop (only show in stock)
- New tag to wrap price elements

**`product_variants` tag:**

We'll need to add a disabled element to the options and show an (Out of Stock) message.

**Filter for Loop**

If we can add a filter for the loop in here we'll be able to only sho

[2021-03-08 15:01] kevinruscoe opened #9 "Debounce graphql requests"
If I hammer the plus (or minus) on the quantity boxes, if fires a boat load of requests and causes the UI to have a bit of a fit. It might be a good idea to debounce these so requests aren't fired as often, it'll prbably help against Shopify's limits as well.

[2021-03-08 15:17] jackabox commented on #9
Absolutely, should be able to push something in later today :)

[2021-03-08 17:48] #9 closed

[2021-03-14 22:24] philpasquin opened #13 "Class Jackabox\Shopify\Http\Controllers\Api\VariantsController located in ./vendor/jackabox/statamic-shopify/src/Http/Controllers/Actions/VariantsController.php does not comply with psr-4 autoloading standard. Skipping."
When running ```composer require jackabox/statamic-shopify``` we get this error ```Class Jackabox\Shopify\Http\Controllers\Api\VariantsController located in ./vendor/jackabox/statamic-shopify/src/Http/Controllers/Actions/VariantsController.php does not comply with psr-4 autoloading standard. Skipping.```

Which reflects to an error when trying to create a new product ``` Error
Call to undefined me

[2021-03-15 02:02] jackabox commented on #13
What's the steps to reproduce this?

These are two different areas that shouldn't interact. Creating a product doesn't touch the action.

Are you creating the product in Statamic rather than importing it?

[2021-03-15 12:19] #13 closed

[2021-03-15 12:20] jackabox commented on #13
@philpasquin caught it, there was an error on the new product collection with variants field. The plugin works with us ideally creating the products in Shopify otherwise you won't have the data linked to send it to the cart later on.

[2021-03-15 21:51] #8 closed

[2021-03-17 17:13] Pixney-William opened #18 "Importing product without an image fails."
I created a test product and had not added an image when tried to import all products. An exception was thrown:
`Argument 1 passed to Jackabox\Shopify\Jobs\ImportSingleProductJob::importImages() must be of the type array, null given, called in /Users/pixney/Development/Repos/statamic/vendor/jackabox/statamic-shopify/src/Jobs/ImportSingleProductJob.php on line 79`

![image](https://user-images.gith

[2021-03-17 17:41] #18 closed

[2021-03-17 17:42] jackabox commented on #18
Should be fixed on v1.1.2, thanks for flagging :)

[2021-03-26 02:50] jackabox opened #24 "[Feature] Allow the user to pull in collections"
**Reasoning**

Allow users to sync collections as recommended by discussion #22. This would help to build dynamic collections within Shopify and then import them.

**Changes Required**

- New collection sync to import to Statamic Collections.
- New dashboard interaction.
- Needs to be completely optional as users may or may not want this.

[2021-03-26 15:22] jackabox opened #25 "[Feature] Add webhook for when a product is saved."
**Reason:**

If a user has 1000s of products reimporting them all, or manually finding the one to import, will be a pain in the ass.

**Required:**

Integrate a webhook for when a product is saved/updated so we can catch the user product updating.

**Impact:**

- No impact on other elements.

[2021-03-26 19:13] jackabox commented on #25
Released in 1.2.0

[2021-03-26 19:13] #25 closed

[2021-04-03 07:09] sebszocinski opened #27 "[Docs] Webhooks link on Env Values page broken"
Hey mate, just a tiny one - on [this page](https://statamic-shopify.jackwhiting.co.uk/env) the [link](https://statamic-shopify.jackwhiting.co.uk/cms/webhooks) to Webhooks is broken.

[2021-04-03 07:46] sebszocinski opened #28 "[Docs] Webhooks - Product Update endpoint looks incorrect?"
Hey, me again!

Just setting up and testing webhooks for product creation/update and noticed the [docs for product update](https://statamic-shopify.jackwhiting.co.uk/CMS/webhooks#product-update) say to use the `/webhook/product/create` endpoint. I checked the source routes in `action.php` and noticed there is an endpoint for `/webhook/product/update`, .

I know you only just added this feature las

[2021-04-03 10:26] jackabox commented on #28
On version 1.2. There are a few endpoints

- Create for new products
- Update for updating products
- Delete for deleting products

[webhooks doc](https://statamic-shopify.jackwhiting.co.uk/CMS/webhooks)

[2021-04-03 11:16] sebszocinski commented on #28
Hey Jack. Yep I'm aware and they are working well but the docs need to be updated. See below:

![image](https://user-images.githubusercontent.com/5466694/113476917-07c94b00-94c6-11eb-9036-7647f2564c5e.jpeg)

[2021-04-03 14:30] jackabox commented on #28
I see what you are saying now. Thank you. :)

[2021-04-04 03:34] #28 closed

[2021-04-05 00:37] sebszocinski opened #29 "[Suggestion] Differentiate single product vs product with variants"
I know Shopify handles single products as products with one variant, but there is no way to differentiate an imported product that is single vs one that has variants (ie even just one)

In our case we are displaying information from the variant in our content / description such as it's title and at the moment the only way to tell if a product is single is by the variant title being set to "Default

[2021-04-05 00:57] sebszocinski opened #30 "[Bug] Additional Statamic fields being removed on product sync"
I added a new field called `short_description` to my product blueprint and added some content to a product, then updated and synced from Shopify and noticed it wiped my `short_description`. It also removed the `updated_by` and `updated_at` and modified the `vendor` and `type` fields from strings to arrays. See below:

### Original Import:
[code]

### Edit in Statamic with new field:
[code]

### Af

[2021-04-05 01:06] sebszocinski opened #31 "Variant option name missing / not being imported"
Just noticed it doesn't look like the option name isn't being synced across.

See below, in this case "Painting" is missing. In our case we want to display this.

![image](https://user-images.githubusercontent.com/5466694/113526832-a3f46e80-95fa-11eb-8c9e-540508986d9b.png)

[2021-04-05 01:12] sebszocinski opened #32 "[Bug] Variant not being removed on sync"
Sorry, last one for today I promise!

I just noticed when deleting a variant in Shopify it doesn't remove it in Statamic.

[2021-04-05 09:41] klickreflex opened #33 "How to change currency?"
Hi Jack,

I've just installed statamic-shopify and set up a partner shop with Shopify (for the first time).
Everything went super smoothly, I'm absolutely thrilled. One tiny problem I'm having is I can't figure out how to show the correct currency within my antlers templates. My Shop is set up to use EUR, but Statamic always shows me a pound sign and I don't really know where to dig.

I installed

[2021-04-05 11:40] klickreflex commented on #33
Nevermind, I've found the config option `'currency' => '€',` :)

[2021-04-05 11:40] #33 closed

[2021-04-05 15:00] klickreflex opened #34 "Configured currency not used in Cart"
Hi,

I've configured `'currency' => '€',` and this works on the Products template, but the cart still shows product prices as `£`. Is this possibly still hard coded somewhere?

[2021-04-05 15:17] klickreflex commented on #30
I'm having the same problem with some additional fields for SEO and OG tags and images, which I'd like to add to all my collections but can't use on products because they're being removed completely on every import.

[2021-04-05 15:31] jackabox commented on #34
Config value works for anything done on the PHP/admin side.

For the cart, it uses the frontend js.

You'll need to edit the `formatCurrency` function in the [`helpers.js`](https://github.com/jackabox/statamic-shopify/blob/e038455e0ac913ac033e6f4224b721e86969720c/resources/js/shopify/helpers.js#L54)

[2021-04-05 15:31] #34 closed

[2021-04-05 15:32] jackabox commented on #29
If the variant has one only option, this would be a single product. Shopify sets this to **Default Title** and is handled on their side via the import.

A variant is still required to get all the price and stock information, so every product has variants.

[2021-04-05 15:33] #29 closed

[2021-04-05 15:35] klickreflex commented on #34
Thank you 👍

[2021-04-05 16:45] #32 closed

[2021-04-05 16:45] #30 closed

[2021-04-05 16:47] jackabox commented on #31
Added this as in 1.3.0

Please see the release notes for [1.3.0](https://github.com/jackabox/statamic-shopify/releases/tag/1.3.0) as you'll need to configure your blueprint slightly.

[2021-04-05 16:47] #31 closed

[2021-04-05 16:48] jackabox commented on #32
Released in 1.3.0. Variants will now remove if they are not present on import.

[2021-04-05 16:48] jackabox commented on #30
Fixed this in [1.3.0](https://github.com/jackabox/statamic-shopify/releases/tag/1.3.0). All additional data should hold now :)

[2021-04-05 16:49] jackabox commented on #27
Thanks, docs are updated now :)

[2021-04-05 16:49] #27 closed

[2021-04-09 08:01] klickreflex opened #40 "Debugging output in ImportSingleProductJob causing error"
After upgrading to 1.3. it was not possible to run imports until I removed the `ray()` statement that was forgotten in `ImportSingleProductJob`

[code]

[2021-04-09 13:27] #40 closed

[2021-04-09 13:28] jackabox commented on #40
Fixed in 1.3.2

[2021-04-14 11:21] jackabox opened #42 "[Feature] Allow user to set custom names for the taxonomies rather than default"
### Problem

Currently, when we import the products they are given tags such as `type`, `vendor`, `category`. These are universal terms and may conflict with other taxonomies on the site.

### Solution

- Create config options that let the user set the desired slug of the taxonomy to be matched too.

### Thoughts

- Can we create stubs for the taxonomies so we set the taxonomy slug on import rathe

[2021-04-14 11:59] #42 closed

[2021-04-20 15:36] jackabox opened #45 "[Bug] Variants being overwritten on sync"
Variants are always being overwritten as the check always returns a negative. This is causing variant data to be lost on sync.

[2021-04-20 15:37] #45 closed

[2021-05-12 21:13] edalzell opened #48 "Views are published to wrong spot"
Addon/package views should stay internal unless the end user wants to overwrite. When they are published, the laravel convention is `views/vendor/vendor-slug/...`.

Looks like this in an addon:

[code]

See here: https://laravel.com/docs/8.x/packages#overriding-package-views

[2021-05-12 21:36] edalzell opened #49 "Typo in webhook docs"
The product update url should be `!/statamic-shopify/webhook/product/update`

[2021-05-12 21:38] edalzell opened #50 "Routes are not consistent, don't follow conventions"
How come it's `/order` but `/product/create` and `/product/update` etc?

Also, I'd recommend making the routes and route names match laravel convention, so `store` not create.

[2021-05-12 22:17] edalzell opened #51 "Clicking on Variants collection throws an error"
[code]

<img width="1283" alt="CleanShot 2021-05-12 at 14 57 53@2x" src="https://user-images.githubusercontent.com/6069653/118050956-10b70300-b335-11eb-8388-5d84041e8c8f.png">

[2021-05-12 22:21] edalzell opened #52 "Missing docs link"
https://statamic-shopify.jackwhiting.co.uk/frontend/js-sdk

Referenced from https://statamic-shopify.jackwhiting.co.uk/frontend/getting-started

<img width="667" alt="CleanShot 2021-05-12 at 15 21 21@2x" src="https://user-images.githubusercontent.com/6069653/118051362-b8343580-b335-11eb-9595-59d7e66d2509.png">

[2021-05-12 22:36] edalzell opened #53 "FR: tags should be prefixed by `shopify`"
IMO it's nicer to have an add-on's tags be self contained, all "namespaced" like `{{ shopify:product_prices ... }}`

[2021-05-13 13:36] austriker27 opened #55 "FR: Add the sale price (compare at price) for a product"
It looks like shopify calls the sale price for an item the `compare at price`. It would be great if that could be added to our data so customers see if a product is on sale.

Thanks!

[2021-05-13 13:38] austriker27 opened #56 "FR: Filter/sort products based on if they are on sale (shopify's compare at price)"
I would love to see the ability to filter (and sort) products that are on sale. (As mentioned in #47)

Ideally the filter would look like this I think:

[code]

Background:
I currently have a [sale page on my website](https://rainierwatch.com/shop/sale/) and am hoping to replicate it.

[2021-05-13 16:07] edalzell opened #57 "Webhook update is changing entry `id`"
When I updated the inventory on a variant, it looks like the entry `id` got changed.
<img width="406" alt="CleanShot 2021-05-13 at 09 02 26@2x" src="https://user-images.githubusercontent.com/6069653/118153308-9afd7680-b3ca-11eb-9fac-71fa74657f97.png">

[2021-05-17 14:42] jackabox commented on #50
These don't follow conventions due to a few discrepancies between how data is sent from Shopify's webhooks to the system.

It's `/order` as it's not actually doing anything with the order itself (no create, update, etc). It's then using that data to update the products. We aren't creating an order in the system. In theory, we could do this but it wasn't somewhere I wanted to touch so I've left it

[2021-05-17 14:46] #57 closed

[2021-05-17 14:46] #49 closed

[2021-05-17 14:46] #52 closed

[2021-05-17 14:48] jackabox commented on #55
Added to the import Job. Will be pulled through after you update to 1.3.6 and pull the data.

You'll need to update the variant blueprint if you wish to see it in the admin.

You should be able to access it while looping through the variants. I plan to add in a tag for this around v1.4.0

[2021-05-17 15:33] jackabox opened #59 "Move `disabled text` field into it's own composer package."

[2021-05-18 01:37] austriker27 commented on #55
Awesome, thanks so much Jack! Cant wait to try it

[2021-05-20 17:21] edalzell commented on #24
Please note that a product can be in more than one collection, so the field (assuming you do it as a taxonomy) should likely be named `collections` and be an array

[2021-05-31 13:55] #24 closed

[2021-06-01 13:04] austriker27 opened #64 "Collections import doesn't import all my collections"
Hey Jack!

I might have done something wrong but wanted to open this issue in case there's a chance there's a bug.

Here's what I did:
1. I updated the Shopify addon to the latest (1.4.2)
2. Ran `php artisan shopify:import:collections` in the CLI
3. ran `php artisan vendor:publish --provider="Jackabox\Shopify\ServiceProvider"` in CLI
4. Cleared the stache cache just in case

I got a gazillion chan

[2021-06-01 13:09] jackabox commented on #64
Hey,

Do you have products in those collections?

Try re-run the import now you have the collection taxonomy.

None of your data should be replicated in a collection, odd that your variants would update but if you haven't synced in a while it would also be updating the "sale price" field, which would cause differences. Can you let me know what changed on a **product** and a **variant**?

The chang

[2021-06-01 13:27] austriker27 commented on #64
Heyo,

Yes, I can confirm each collection has active products. Basically when I migrated my data from Woocommerce to shopify it looks like it turned the WC product categories into collections (just an FYI in case that helps to know how Im using them, although I would still be using them for certain item groups if my data migration was perfect):
![image](https://user-images.githubusercontent.com/14

[2021-06-01 13:34] jackabox commented on #64
What's the taxonomy slug of your "collections", is it `product_collection`?

Set this .env to match it `SHOPIFY_TAXONOMY_COLLECTIONS`

If you import the product again, does it work?

There is a check in the code to see if the collection exists, if not, it skips loading the collection data so maybe something here.

[2021-06-01 13:42] austriker27 commented on #64
Oo I didnt know about that `env` value... Sorry taxonomies always are the thing that confuse me the most, so maybe I reading this wrong but looks like there's no slug set:

Looks like there's no slug set - under `content/taxonomies/collections.yaml` the file only has this:
[code]

And i haven't created any view files for it in `resources/views` yet

![image](https://user-images.githubusercontent.c

[2021-06-01 13:43] jackabox commented on #64
What's the file name? The slug matches that.

[2021-06-01 13:44] austriker27 commented on #64
Interesting, the filename is `collections.yaml`

[2021-06-01 13:45] austriker27 commented on #64
I'll try re-importing a few products that have collections.

[2021-06-01 13:47] jackabox commented on #64
Let me know if that fails, `collections` is the default so you shouldn't need the env param

[2021-06-02 12:33] austriker27 commented on #64
Shoot, after importing 2 products that have collections its not appearing on their markdown files. Here's a screenshot showing the changes for one file:
![image](https://user-images.githubusercontent.com/14855925/120480551-056b5c00-c364-11eb-8447-05437fc616af.png)

[2021-06-02 13:19] jackabox commented on #64
When you run the import, do either of these jobs trigger?

[code]

[2021-06-02 13:23] jackabox commented on #64
@austriker27 Are the collections the products included in automated, or manual? Might be an issue with automated by the looks of things.

[2021-06-02 13:25] austriker27 commented on #64
Good find, I think you might be right. Looks like all my auto collections didnt migrate but the "home page", which isnt auto, did.

[2021-06-02 13:43] #64 closed

[2021-06-02 13:45] jackabox commented on #64
@austriker27 Can you updated it to 1.4.3 and let me know if this fixes it? If not, reopen this :)

[2021-06-03 12:47] austriker27 commented on #64
Shoot, its not working for me. I updated the addon to 1.4.3, re-ran the collections import (via the PHP command in the CLI and in the CP), and re-imported 2 products that have smart collections. I also cleared the statamic cache for good measure. Anything else I can try or any details I can provide?

[2021-06-17 16:50] jackabox opened #67 "`Call to a member function handle() on null` when importing"
I and others have encountered an error with `Call to a member function handle() on null` when running the imports.

_Posting this as a notice for others using the plugin_

[2021-06-17 16:51] jackabox commented on #67
This seems to be due to an old version of the variant blueprint that exists. If you're getting this issue, you should remove `hide: true` from the top of the blueprint and then re-run things.

[2021-06-17 16:51] #67 closed

[2021-07-05 14:38] hmalaud opened #68 "Sync Shopify from Statamic?"
Would it be possible to sync changes from Statamic's collections to update Shopify products so that user can avoid using Shopify as much as possible or is Shopify's admin completely closed?

[2021-07-05 14:43] jackabox commented on #68
It's possible to do, you can create, update, and delete as needed.

However relatively outside of the scope for this at the moment, as the UI for the product update/edit/etc is much more refined being managed through the Shopify side than through Statamic. It'd be a huge chunk of work to do at this time.

[2021-07-05 14:46] hmalaud commented on #68
Ok, thanks for the answer!

[2021-07-05 14:46] #68 closed

[2021-07-05 14:47] jackabox commented on #68
Feel free to open a discussion for it though, more than happy to consider if enough people want 👍🏻

[2021-07-09 12:14] hmalaud opened #71 "Storefront API initialization not working properly"
I might be doing something wrong, but I can't get the addon (starter kit or not) to work. I'm using a Shopify development store protected by password (might come from that?) with 3 active products.

### Steps to reproduce
1. Install Starter kit, create user and publish assets as described here: https://statamic-shopify.jackwhiting.co.uk/starter-kit
2. Publish Assets with `php artisan vendor:publis

[2021-07-09 13:22] #71 closed

[2021-07-09 13:24] hmalaud commented on #71
Emptying app cache, browser's localstorage, and reexporting the js files with webpack solved the problems with the starter kit, can't really say what was wrong there though, but well!

[2021-07-19 18:55] Pixney-William opened #73 "Call to a member function handle() on null"
Just a quick question if you have ever seen this error when importing products?

`'blueprint' => $this->blueprint()->handle(),` is the line it errors on.

exception: "Error"
file: "/Users/pixney/Development/Web/uf/vendor/statamic/cms/src/Entries/Entry.php"
line: 449
message: "Call to a member function handle() on null"

[2021-07-19 19:33] Pixney-William commented on #73
Seems to be the variants:

[code]

[2021-07-19 20:38] jackabox commented on #73
See #67

[2021-07-19 20:38] #73 closed

[2021-08-09 20:47] francoismajor opened #75 "Products marked as draft are imported and shown in the front-end"
In Shopify, when you create a product, by default it's set to draft.

When importing all products, the  draft product is imported anyways and shows up on the website, but won't do anything when you add it to your cart (as the product is not active).

**Best case**
Product is imported but unpublished.

**Min case**
Product is skipped and not imported.

[2021-08-11 14:44] jackabox commented on #75
Good catch, should be able to get this off `status`, and mark it as published or not.

[2021-08-11 14:48] jackabox opened #76 "Import metafields as defined in Shopify"
I want to expand the add-on to account for meta fields in some way.

Matching these up automatically I don't believe will work, but I'm keen to add support for this so you can extend as needed.

Some predefined types should be made, such as:
- Text
- Image

Then you can extend as necessary with your own classes to map the importer.

[2021-08-11 15:06] #75 closed

[2021-08-11 15:10] jackabox commented on #75
Added in 1.5.0. Let me know if you have any issues :)

[2021-08-14 01:31] francoismajor commented on #75
Awesome, I'll give it a try this week, thanks!

[2021-08-15 23:23] austriker27 opened #81 "Inventory quantity below 0 doesn't list as out of stock"
Hello!

I think I found a bug with inventory that's below 0. (I have some inventory that's negative numbers).

here's what the variant shows for this product:

[code]

And Im using this loop from the docs:
`{{ product_variants:generate :product="slug" show_price="true" show_out_of_stock="false" class="border" }}`
(it also shows the XS size which is out of stock if I use `show_out_of_stock="false"

[2021-08-16 12:49] jackabox commented on #81
What's setting the stock as `-1` here?

[2021-08-16 12:51] austriker27 commented on #81
Shopify - I often have products that are in the negative numbers as I juggle inventory between multiple locations. Its odd but it happens.

[2021-08-16 12:53] #81 closed

[2021-08-16 12:54] jackabox commented on #81
Should be sorted in 1.5.2, there's now a check for if `<= 0` rather than `=== 0`

[2021-08-16 13:07] austriker27 commented on #81
Nice, thanks!

[2021-08-16 19:10] francoismajor commented on #75
It works! Thanks

[2021-08-19 11:57] austriker27 opened #82 "FR: Import shipping costs from Shopify"
I'm not sure if this is possible based on the shopify API's but I think it would be super helpful to be able to display shipping costs on the cart page.

Here's an example:
![image](https://user-images.githubusercontent.com/14855925/130064553-2fa98414-ce87-40f3-9398-b469c0daa2c4.png)

[2021-08-23 19:16] mnlmaier opened #83 "Import variant images"
Hey,

thanks for your work on this plugin! Is there a way to import all variant images? I need to implement a slider which changes images to match the selected variant.

Thanks a lot!

[2021-08-30 13:59] jackabox commented on #83
Hey, at the moment they just import into a gallery as getting the images to match up to the variants needed we'd need to add them to the variant itself rather than the main loop (I don't believe we can attach the variant ID to the image meta).

I'll take a look and see if there is anything else I can do to help with this here. Open to suggestions if you have any :)

[2021-08-30 14:02] jackabox commented on #82
At this point in the checkout, you don't have any information of the user (delivery address, speed, etc) so there isn't much point in capturing it at this point in the plugin.

However, you could look at this [API](https://shopify.dev/api/storefront/reference/checkouts/availableshippingrates#shippingrates-2021-07) to grab the available shipping rates.

[2021-08-30 14:02] #82 closed

[2021-08-30 22:23] austriker27 opened #84 "FR: Shopify Collections Image"
# IDEA
It would be super nice if when the shopify collections were imported, the string/url of the "collection image" would be included. (I did set this up in Statamic but I think its best to rely on Shopify as much as possible for the product content)

# SCREENSHOT:
![image](https://user-images.githubusercontent.com/14855925/131413547-e6551a0c-9e13-41bc-8b99-55a8ee88015b.png)

[2021-08-30 22:24] austriker27 commented on #84
PS: Also it would be real handy if it also imported the collections description!

[2021-08-31 12:29] austriker27 opened #86 "Bug: Product image URLs are getting appended with numbers"
This just started at least a week ago?  days ago, but basically looks the addon might have a bug that keeps adding a string of numbers to the end of product Image URLs. It happens every time I import which results in dozens of duplicate image files.

I updated to v1.5.2 but it still happens whenever I import an item. Erin in the discord said its probably a bug because it looks like a timestamp.

#

[2021-08-31 12:34] jackabox commented on #86
Is this a new thing, or has it always been doing this for you?

[2021-08-31 12:41] austriker27 commented on #86
New-ish. Probably at least a week or two. Ill try to find when it started exactly.

[2021-08-31 12:42] jackabox commented on #86
No problem, if you can that would help. Along with your composer installed versions :)

[2021-08-31 12:47] austriker27 commented on #86
- June 1st: It didnt happen https://github.com/RainierWatch/rainierwatch-v4/commit/cc3ff89c5af957b16cd3ac6f61ece24251574a20#diff-013d25bba71d03a2e755d1a71da1b9de36d43636b501c3aa186457f65290fe01

- August 15th: It did happen https://github.com/RainierWatch/rainierwatch-v4/commit/a36f37e974b23cf1a717ab2ef462f2aa65ef3182

- Composer version 2.0.9

[2021-08-31 15:33] austriker27 commented on #86
Ha, oops - sorry my bad!

Here's what Ive got in my composer:

[code]

[link](https://github.com/RainierWatch/rainierwatch-v4/blob/develop/composer.json)

[2021-09-03 06:44] el-schneider opened #87 "Bug: The "Go To Shopify Admin" cannot handle a https:// prepended URL in the .env"
This button doesn't work properly, but probably should:

<img width="317" alt="grafik" src="https://user-images.githubusercontent.com/26460248/131961326-5c5d18ef-36eb-498b-8af4-0a44b2077deb.png">

[code]

## Setup
Statamic 3.2.1 Pro
Laravel 8.58.0
PHP 7.4.22
jackabox/statamic-shopify 1.5.2

[2021-09-03 14:00] jackabox commented on #87
It's not meant to have a prepended `https`. See [](https://statamic-shopify.jackwhiting.co.uk/env#required-for-admin)

[2021-09-03 14:00] #87 closed

[2021-09-05 20:57] austriker27 commented on #86
Hey Jack, any suggestions or progress on this bug? Sorry to bug you but it's pretty annoying every time I import my products... I have 50+ items and Im going through them one by one and removing the timestamp URL bits.

Thanks!

[2021-09-05 23:24] jackabox commented on #86
Hey @austriker27, can you try installing the latest 1.x.dev branch changes and see if that fixes your issue?

[2021-09-07 21:12] mnlmaier opened #88 "Sorting the variants dropdown alphabetically"
Hello, is there a possibility to sort the variants dropdown alphabetically? Should probably be doable in `parseOptions` of the `ProductVariants` class, am I missing something here? :)

[2021-09-07 22:39] richarderoche opened #89 "Out of Stock status for products that are not inventory managed"
Is there a way to check if stock is applicable before checking inventory of a product? I have a client that delivers made-to-order meals so inventory tracking doesn't make sense. We could just put in a large number as a workaround, but we also want to sell gift cards which don't even have the option to set an inventory in Shopify.

[2021-09-09 09:49] jackabox commented on #89
If they are not inventory managed then the system will not know if they are in stock/out of stock. The checks in place are;

- if it is inventory managed (toggle from Shopify)
- if so, does it have stock.
- else, show as in stock.

[2021-09-09 09:53] jackabox commented on #88
At the moment, there is not out of the box.

You could loop around the variants field (statamic relationship field) and then fetch each by [title](https://github.com/jackabox/statamic-shopify/blob/main/src/Tags/ProductVariants.php#L64).

[2021-09-09 19:07] richarderoche commented on #89
What would you suggest I do to make it possible to sell gift cards? They show as sold out and are not purchase-able. I'm sure I can modify your add-on but then I can't update it automatically. Would it make sense in a future update to assume products are sellable unless it is inventory managed AND out of inventory?

[2021-09-10 15:05] jackabox commented on #89
Hey @richarderoche, can you send me one of the variant markdown files for the variants that should be showing as "in stock" and are not inventory managed? Along with that can you send me a screenshot of your setup in Shopify?

Sounds like a bug with either how the data is set up or how it's importing as this [line on the tag](https://github.com/jackabox/statamic-shopify/blob/main/src/Tags/ProductV

[2021-09-10 18:57] richarderoche commented on #89
I poked around a bit, I don't think it's an import issue. I queried the api directly and it seems like all the values match. Looks like inventory_policy is set to "deny" by default when you make a new product in Shopify. I can turn on tracking and change it to "continue" by checking the option to sell when it's sold out but I think the property will always be set. I think you want to import the in

[2021-09-12 23:48] austriker27 commented on #86
Sorry I finally found some time to test this! And sadly the file appending is still happening.

# What I did
- `composer require jackabox/statamic-shopify:dev-1.x-dev`
- Single product import
- Check files changes in git
- Take screenshot below

# Screenshot of the diff:
![image](https://user-images.githubusercontent.com/14855925/133006610-01e2233f-98e5-4d46-9be5-6b689bd6d86e.png)

[2021-09-13 14:55] jackabox commented on #89
The `inventory_policy` is what Shopify uses to define if a product should be tracked/sell out of stock. If this is set to allow, it'll always be allowed to sell.

Can you please show me the content file for a variant/screenshots of your Shopify set-up for the same variants so I can reproduce it?

[2021-09-13 20:01] richarderoche commented on #89
Screenshot of settings:

![thespicyradish myshopify com_admin_products_7202080555177](https://user-images.githubusercontent.com/5722728/133147597-830d622e-b895-44f9-b299-51067777ecef.png)

The content file for the variant:
[41268858486953.md](https://github.com/jackabox/statamic-shopify/files/7157027/41268858486953.md)

Here's what the API call shows:
![image](https://user-images.githubusercontent

[2021-09-19 21:53] jackabox commented on #86
@austriker27 Got it, this isn't a bug.

The reason this is happening is as one is added to the "Featured image" and the same image is added to the "gallery". This is the same image/filename but it appends the date/time because of it.

These should only be adding once to the MD, and as such, they should be updated with the accurate version. Once committed (with timestamps or not), they shouldn't be

[2021-09-19 22:28] jackabox commented on #89
Closed in v1.6.0, we now checked `inventory_management`.

[2021-09-19 22:28] #89 closed

[2021-09-26 21:52] austriker27 commented on #86
But this even happens when an image is in the "gallery" and is *not* a "featured image". This happens for all my images, not just the featured image.

Ill test deleting the image for a product and reimporting because Im desperate for a fix because right now its a giant pain manually removing image URL suffixes whenever I import my products (and I import a lot of and have a lot of images)

[2021-10-08 10:05] klickreflex opened #91 "Can't open products in CP: array_replace(): Argument #2 must be of type array, int given"
When I click on any imported product in the control panel I'm getting

![image](https://user-images.githubusercontent.com/435825/136538160-69c54012-d42f-4d0b-be7a-724372240294.png)

[2021-10-08 10:14] klickreflex commented on #91
Nevermind' Ive changed `product.yaml` according to something I've found in the docs, changing it back made it work again

![image](https://user-images.githubusercontent.com/435825/136539351-2d3e993a-1855-482b-9b31-f3eec5265e8a.png)

[2021-10-08 10:14] #91 closed

[2021-10-18 09:52] MrMooky opened #93 "CurlException when trying to fetch products"
Disclaimer: I have not purchased the add-on yet as I wanted to try it out to make sure it works as expected and fits our use-case.

--

Installing went fine, everything is set up within Shopify and Statamic is running. But when I want to fetch products, I get the following error:

[code]

Is this because the add-on is not purchased yet, or related to something else? Tried both locally and on a pro

[2021-10-18 12:40] jackabox opened #94 "[v2] Move towards using Shopify official library"
Shopify have [released](https://github.com/Shopify/shopify-php-api/tree/main/docs#readme) a new library for PHP with better support for GraphQL/Admin & Storefront. Look to build this into the add-on.

[2021-10-19 06:00] MrMooky commented on #93
@jackabox Yes, I followed the instructions.

Apparently, the url I entered was wrong. I used the one that was showing in the Shopify backend under "Example URL". So the Curl error is gone now and the import says "Import has been queued." but then nothing is imported.

There is one product added in the shop: https://stella-projects-x-tireh-demo.myshopify.com/products/product-one.

Also, when I open

[2021-10-19 13:39] MrMooky commented on #93
The problem is now solved and the explanation about not being able to manually create products makes sense. Thanks for the clarification.

[2021-10-19 13:39] #93 closed

[2021-10-28 06:36] klickreflex opened #95 "Duplicate entries for same product id"
After letting my client add products in Shopify I started noticing duplicate item in the Statamic product collection with the same `product_id`.

 Differences I noticed where:
- published status in one case
- image URLs with/without timestamp suffix (like in #86)
- the markdown files were suffixed with a `1` (screenshot 1)
- There are variants in Statamic that don't exist in Shopify (screenshot 2)

[2021-10-30 10:36] klickreflex opened #96 "How to localize price format?"
`product_price` always renders `€20.00`, but I need it to be `20,00 €`.

If it's not possible to change the tags format, is there a way to just get the raw number into templates?

[2021-10-30 11:15] klickreflex commented on #96
Luckily I don't need variants so I'm working around by doing the following on product listings
[code]

[2021-11-02 13:06] austriker27 commented on #76
I'd love this as I plan on using meta fields for a few different things like 'retiring products'

[2021-11-02 13:17] delz-dev opened #97 "Sub-Totals in rows don't get updated if amount is changed"
<img width="965" alt="CleanShot 2021-11-02 at 14 16 51@2x" src="https://user-images.githubusercontent.com/54885840/139854222-3ac0044d-eaa1-43ce-9daf-a4e1e67976ae.png">

even in demo-shop it isn't working.

[2021-11-04 22:22] austriker27 opened #98 "Webhooks bug > Product entries are being deleted after order is placed that contain the item"
I finally got my webhooks working (for anyone: make sure they bypass the cloudflare firewall, if you are using CF) but they are deleting product entries after an order comes through with the item in it.

Its the weirdest thing - the products are definitely still in shopify.  What info can I provide to help debug this?

Example of a file removed:
[code]

[2021-11-05 09:33] klickreflex commented on #95
This is getting out of hand with more products being added :(
![CleanShot 2021-11-05 at 10 30 58@2x](https://user-images.githubusercontent.com/435825/140489436-841d8e61-d66d-4d0a-a150-f10ac70cc527.png)

[2021-11-05 12:26] austriker27 commented on #86
Im still getting this and its causing me to spend hours each week removing duplicate image suffixes - any ideas on whats going on? Im not entirely convinced its not a bug.

Screenshot showing its more than just the featured image:
![image](https://user-images.githubusercontent.com/14855925/140510006-c6b5e935-edcd-44e3-a501-d44bc0b70f51.png)

[2021-11-05 13:40] jackabox commented on #86
Hey @austriker27, it's on my radar. Can I get access to your code base so I can pull it down and clone it (if that's okay) and see if I can replicate as in my 3 test environments I can't get this to replicate.

[2021-11-05 13:41] jackabox commented on #98
Hey @austriker27 have you set up the wrong endpoint here? Sounds like you're posting an order being complete to the delete product webhook rather than the update order one.

[https://statamic-shopify.jackwhiting.co.uk/CMS/webhooks]()

[2021-11-05 13:52] jackabox commented on #95
Hey @klickreflex can you privately send me the `SHOPIFY_AUTH_KEY` and `SHOPIFY_AUTH_PASSWORD` so I can run some imports in a test as you? I'm not able to replicate this so far.

[2021-11-05 14:19] jackabox commented on #95
Hey @klickreflex, you could try adding some debugging into line [#78 on the ImportSingleProductJob](https://github.com/jackabox/statamic-shopify/blob/1.6.1/src/Jobs/ImportSingleProductJob.php#L78) and see what happens. If you put it inside of the if statement and let me know.

It seems like the system is failing to find the other Entry that exists, which is odd as the MD files seem basically equiv

[2021-11-05 17:57] austriker27 commented on #98
I dont think so - this looks accurate to me:

![image](https://user-images.githubusercontent.com/14855925/140556787-435c4543-a325-4b89-8ca7-7f3784e11f20.png)

[2021-11-05 18:00] austriker27 commented on #86
Thank you - I'd love your expert eyes on this.

I added you to my repo!

[2021-11-05 19:23] jackabox commented on #86
Hey @austriker27

The problem lies in your `.env` file, you've added a `/` before the `SHOPIFY_ASSET_PATH`, so your .env says:

[code]

where it should be:

[code]

This leads the plugin to not find the image and returns null, so reuploads it again. The timestamp is being added as it's trying not to overwrite the old one. If you remove the `/` everything should work as expected.

[2021-11-05 19:23] #86 closed

[2021-11-05 19:46] austriker27 commented on #86
Oh gosh, I feel like I should have caught that too. Thanks so much for digging in! I can't wait to test this out!!

[2021-11-07 02:41] austriker27 commented on #98
Im going to delete the "order creation" webhook to see if thats causing the problem. This is bad because its costing me money every time a product gets deleted.

[2021-11-23 13:39] klickreflex commented on #95
Hi @jackabox,

after taking the conversation to emaiI I thought it makes sense to continue here for others to potentially benefit.

In #86 I saw a proposed change to  `SHOPIFY_ASSET_PATH`. I don't have that property in my `.env` at all and I don't find any documentation about it. Is it required or at least recommended to add?

Anything new since I sent you my credentials?

[2021-11-23 13:51] klickreflex opened #102 "Composer won't find 1.6.1"
Despite a release being tagged for 1.6.1 and shown in the CP I can't update from 1.6.0 to 1.6.1:

[2021-11-23 14:09] jackabox commented on #102
1.6.1 wasn't to be released sorry, it was a testing ground for fixing an issue with duplicate images which ended up being an `.env` variable error.

[2021-11-23 14:09] #102 closed

[2021-11-23 14:10] jackabox commented on #96
Would welcome an update to allow for different currency formatting, otherwise you can disable the currency symbol being added and loop around variants to output the prices as needed.

[2021-11-23 14:10] #96 closed

[2021-11-23 14:13] jackabox commented on #95
Hey @klickreflex, haven't had the time to spin it up yet. I'm hoping to do so this week.

Did you manage to insert the debug and see what happened?

Regarding #86 this was for fixing the assets being imported. Are you getting duplicate images or just entries?

[2021-11-23 14:18] klickreflex commented on #95
No, here's my follow-up question on this (sent via email on Nov 8th):

Only duplicate entries.

[2021-11-25 10:19] ryanmitchell commented on #56
Would a query scope not let you do this? https://statamic.dev/extending/query-scopes-and-filters#scopes

[2021-11-26 14:12] jackabox commented on #95
Okay, if you run the manual "import products" from the admin/terminal, does this duplicate the entries also?

[2021-11-29 18:52] klickreflex commented on #95
Hi Jack,
I added the `var_dump` and ran an import of one of the duplicates, but got no output

![image](https://user-images.githubusercontent.com/435825/143925198-7e0865b7-195e-4b8c-85b8-43d64665fcf7.png)

Instead I've found a new issue:  _Some_ products have variants in Statamic despite not  having any in Shopify (they're all called the same _Default_). I don't even know how to decide which varia

[2021-11-29 19:01] klickreflex commented on #95
When I delete both entries of one that has duplicates and reimport it manually via `php artisan shopify:import:single 7440667738367`  I end up with a duplicate again. ID of one such products is `7440667738367`. Still no var_dump output on the CLI.

[2021-11-29 20:28] jackabox commented on #95
Hey @klickreflex thanks for digging deeper into this, I tried replicating it locally but couldn't get any duplication (perhaps because it was all new, or perhaps as no webhook was triggered).

Let me know if the imports have a double effect again after a webhook and if so you could try using a different queue driver, otherwise we'll have to debug some more.

[2021-11-30 13:08] jackabox commented on #56
@ryanmitchell yes it would, but would be nice to make a default way also.

[2021-12-01 13:56] austriker27 commented on #98
This is still happening daily. Its quite fun - I have to manually check after every order to see if a product was deleted via the content update webhook.

[2021-12-01 13:57] jackabox commented on #98
Hey, @austriker27 didn't you delete the order creation webhook? Did that fix your issue?

If it was deleted, how would the content still be deleted?

[2021-12-01 14:00] austriker27 commented on #98
No, I didnt actually delete it - because if I delete it, order quantities don't update. So I have manually find which products sold and then reimport them. Which takes more time. So I decided to leave the webhook active because either way I'm spending time but this way Im spending less time.

Its not consistently deleting all products from orders - only like probably 10%. I can share reference com

[2021-12-02 14:05] jackabox commented on #98
@austriker27 Gotcha! It's odd that it would be deleting products at all - especially odd products, as it runs the import of the single product.

1. If you manually run the import all (from the admin/terminal) does this also delete the products?
2. is it always the same products?
3. Do you have the delete webhook also set up? Can you remove that one temporarily if so and see if that fixes your issu

[2021-12-02 14:52] austriker27 commented on #98
Thanks for the quick reply @jackabox ! Its very odd, I feel like something is out of whack between shopify and statamic.

1. I will try this and let you know - because I have so many products it usually takes many, many minutes. So I try to avoid running it.
2. I'll create a list of products its deleting, it might be similar products.
3. I don't have the delete webhook. I removed it in October-ish

[2021-12-02 14:53] austriker27 commented on #98
I just noticed the `order creation` webhook has been removed from my webhooks. Ugh, I know shopify has removed it in the past when it gets an error on that route. Oh great, another thing to fix...

[2021-12-02 14:56] jackabox commented on #98
@austriker27

Do you get a notification of the error?

If you can see which products it is, might help to work this out - my test environment I have set up seems to be stable, I can't really replicate this at the moment so will need as much information as possible.

Thanks for confirming you don't have a delete, wondered if that was being triggered weirldy.

[2021-12-02 15:03] jackabox commented on #98
I meant the webhook in Shopify, sorry. When it gets removed, do you know when/why?

[2021-12-02 15:04] austriker27 commented on #98
No worries! Sorry I added a bit of context by editing my earlier comment: Last time my webhooks were removed, it was because cloudflare had turned on bot attack mode on the endpoint. And apparently, per shopify support, when they don't get a 200 response they eventually remove the endpoint. And they don't tell me so there's no way of knowing I guess. I wish they would tell me!

[2021-12-02 15:05] austriker27 commented on #98
Well this is weird, bot mode is turned off in my CF, so Im not sure what deleted my webhook this time:
![image](https://user-images.githubusercontent.com/14855925/144447870-1eb8e5ca-4da3-4e73-91d7-3b78312cf290.png)

[2021-12-02 15:10] jackabox commented on #98
@austriker27 Hm, odd, maybe it was on temporarily. Unrelated on this one, if you can let me know the other things I'll see if we can dig down to why. For context, you can look in `routes/actions.php` to see what file they load and then load the class as appropriate, the only one that should be deleting is /products/delete.

If you don't even have this endpoint though, there isn't anything else del

[2021-12-03 03:05] austriker27 commented on #98
1. I ran import all via the admin/cp page and it didn't delete any products.
2.
## Products its deleted just for November, in October it was also deleting products 3-7 days a week.
### 11/26:
- content/collections/products/mrnp-sign-patch.md
- content/collections/products/hemp-slacker-beanie.md
- content/collections/products/hemp-slacker-beanie.md
### 11/25:
- content/collections/products/pride-lo

[2021-12-03 17:03] localghost8000 commented on #97
For what its worth, I just tested this and it seems to be working fine.

[2021-12-03 17:06] delz-dev commented on #97
well its not working on the demo shop 🤷🏻‍♂️

[2021-12-03 17:07] jackabox commented on #98
This runs the same import as the webhook, so if this isn't flagging anything it'd be odd for the webhook too.

what's going on with this file `the-mountains-are-for-everyone-sticker` this seems quite a common one that's disappearing? Is there a problem with the specific files/imports, rather than the webhook as a whole? If you can import that single product again (try it several times) and see if

[2021-12-03 17:10] jackabox commented on #97
@delz-dev Can confirm that the subtotal in the last column doesn't update on the demo site.

[2021-12-05 15:00] jackabox commented on #95
Hey @klickreflex has this normalised now?

[2021-12-06 14:15] austriker27 commented on #98
Well thats super weird. The next time the webhook deletes content on my server after an order, I'll run the import all locally to see if i can replicate products being deleted.

Last night I just had several more products get deleted after orders were placed - its so frustrating because this means these products were unavailable to customers until I was able to check this morning and restore the p

[2021-12-08 21:17] ryanmitchell commented on #76
What about just firing an event with the data array on product update/create, then devs can listen for that event and pick out the meta field data and do what we want with it? The other issue is how to get metafield data in the web hook payload - from my (brief) testing I cant get that data to be sent?

[2021-12-13 12:53] klickreflex commented on #95
Hi @jackabox

looks like it didn't happen again after dumping and reimporting everything. Searching for `*.1.md` yields no more results in the products collection.

[2021-12-13 14:25] jackabox commented on #95
@klickreflex Odd issue, but glad it's fixed! Going to close this for now, feel free to flag if anything changes.

[2021-12-13 14:25] #95 closed

[2021-12-13 14:34] jackabox commented on #98
@austriker27 Hey, have you managed to try to replicate this locally? Sorry, this one is taking a while to debug as it's a bit of an odd issue that, well, shouldn't be happening (unless I'm missing something).

[2021-12-13 23:00] francoismajor commented on #83
I would really like to see this as well! I have products where the options aren't obvious to link to the images (ie rock colors which aren't obvious to tell which is which).

I'm pretty sure the required info is available. Product variants have an `image_id` field.

https://shopify.dev/api/admin-rest/2021-10/resources/product-variant

So we'd have to add that field to variants.

Then add the ID to

[2021-12-17 14:21] austriker27 commented on #98
Yeah its super weird for sure. I tried import all locally and it didnt work. A few days ago I noticed it deleted a product that was in an order, but then I got several more orders for the same product and it didnt get deleted. Its so odd.

[2022-01-03 03:04] michaellindahl commented on #98
@jackabox How can we help track down this issue?

I've managed to capture the webhooks by sending them to an HTTP request bin service. _Although I've now lost the payloads as the service deleted the endpoint after 5 days. It would be great if this plugin enabled capturing the payloads and saving them to local storage._ Replaying them locally required modifying `Jackabox\Shopify\Http\Controllers\We

[2022-01-06 17:36] jackabox commented on #98
Hey @michaellindahl.

When you've received the error on **line_items** can you log what is passed to the controller at that time?

The product quantity being updated is the correct step when these get hit by the webhook, as it's all it should update when a product is ordered. The weird part is the deletion.

As for debugging, this seems (at the current time) to only affect @austriker27's store. To

[2022-01-09 04:45] michaellindahl commented on #98
Thanks for the prompt response.

In terms of points 1 & 2, I am having Shopify send the webhooks both to the server and to an HTTP capture bin.
After a product was deleted on the server, I was able to replay the most recently webhooks locally (omitting any headers helped). This did not cause any deleted products locally.

Skipping to point 5, looking at the products folder on the server did highli

[2022-01-09 13:51] mnlmaier opened #103 "[DOCS] Possible race condition on clean Shopify Checkout initialization"
Hi @jackabox,

thanks for your nice work on the plugin. Using it regularly! :)

I noticed a possible race condition which I was consistently able to reproduce in one of my shops where I followed the Frontend JS Snippets included in the docs. It's easy to reproduce: Just delete the LocalStorage key and refresh the Shop Overview. It's not initializing, still, the `checkoutId` is correctly set in Loc

[2022-01-10 18:22] klickreflex commented on #95
Hi @jackabox,

sorry I have to come up with this again. It happened again, this time I have an exact commit with the introduced duplication.

- Note the `published_at` stamp of both generated items differ for a second. Could it somehow be that Shopify's webhooks fire faster than Statamic can process stuff?
- My client told me she had the product as an unpublished draft first and published later wh

[2022-01-12 21:24] klickreflex commented on #95
I've managed to reproduce the issue: duplication happens _always_ when chancing puplication status from draft to published! Could you please have another look @jackabox?

Gonna record a screencast to show the behavior tomorrow.

[2022-01-13 11:03] klickreflex commented on #103
I've had the issue of the cart not being emptied after successful checkout, and I _think_ there was a JS error thrown mentioning something about shopifyCheckout. Could this be related?

[2022-01-13 11:12] klickreflex commented on #95
Another Update: Now I've had duplication reproducably any time I created products containing 2 or more images, independent of publishing status. Products with one or no images haven't been duplicated thus far.

Which brings me to the question if the problem could occur because of server resources being exceeded with image generation? There are a couple of failed tasks in Horizon that only seem to

[2022-01-13 12:52] jackabox commented on #98
Hey, thanks for digging a bit deeper into this one - really weird one that I'm struggling to replicate.

Did the products with incorrect permissions match those of the ones being deleted?

[2022-01-13 16:54] jackabox commented on #103
@mnlmaier Thanks for this, feel free to open a PR and I'll get it merged in at the next changes 👍🏻

[2022-01-13 16:56] jackabox commented on #95
Hey @klickreflex, thanks for this. What queue system are you using?

[2022-01-13 17:02] klickreflex commented on #95
Hi @jackabox

I'm using Redis via Horizon.

I've send you a Loom video of me doing all sorts of stuff - did this maybe land in your spam (using a new adress and that seem to be flagged often as junk: `klick@hey.com`

[2022-01-14 20:27] klickreflex commented on #95
And here are the errors I'm getting for failed jobs in Horizon:

<img width="925" alt="CleanShot 2022-01-14 at 21 23 00@2x" src="https://user-images.githubusercontent.com/435825/149580506-afdb96dd-8d3e-401a-be29-b09624d4bcdb.png">

<img width="932" alt="CleanShot 2022-01-14 at 21 23 08@2x" src="https://user-images.githubusercontent.com/435825/149580491-0e7e07ba-2b73-4e97-9754-3df4f8ad77bf.png">

<

[2022-01-16 09:19] klickreflex commented on #95
I've increased server resources, wiped all products and variation from Statamic (again) and triggered a reimport with `php artisan shopify:import:all`:

While this worked and imported products (without duplication, as always when invoked manually), again I'm getting a bunch of failed jobs in Horizon. Here's a full error log:

[code]

[2022-01-16 09:56] klickreflex commented on #95
@jackabox
Could this be a caching issue? I've found this: https://benfurfie.co.uk/articles/how-to-fix-the-call-to-a-member-function-selectedquerycolumns-on-null-error-in-statamic-3

[2022-01-16 10:27] klickreflex commented on #103
PS: I coud reproduce this now, PR would be appreciated.

[2022-01-16 10:58] klickreflex commented on #95
Yet Aanother observation:

I created one new product in Shopify, is it expected that `ImportCollectionsForProductJob` runs twice? With the same one second delay that the duplicate items show?

![CleanShot 2022-01-16 at 11 54 34@2x](https://user-images.githubusercontent.com/435825/149657047-8ab2f937-84ab-4bad-9b44-4eb032d9ebac.png)

[2022-01-16 11:07] klickreflex commented on #95
I was pointed to this core issue that might be the cause of all issues:
https://github.com/statamic/cms/issues/2993

[2022-01-16 12:06] klickreflex commented on #95
After removing the Worker from forge I’m having no more duplicate imports caused by the shopify new product Webhook. However, running the CLI command php artisan shopify:import:all doesn’t do anything anymore then:

![image](https://user-images.githubusercontent.com/435825/149659256-26381acc-6810-44be-94cb-b13aa829cfef.png)

[2022-01-16 12:59] klickreflex opened #104 "Deletion via Webhook not working"
I've setup Webhooks as in the docs (2022-01 latest), when I delete a product from Shopify it's not deleted from Statamic. Instead Horizon shows a failed Task:

[code]

[2022-01-16 13:51] klickreflex commented on #95
Last observation for today:

- I've setup redis & horizon locally, too to check if I'm getting the same duplication
- When importing a new product manually eg (php artisan shopify:import:product 7515993800959) it's being queued and imported. I saw no duplication locally
- On Staging I ran the exact same single import command end ended up with a duplication

[2022-01-16 17:19] j6s commented on #95
@klickreflex and me took a detailed look at the server. We noticed the following things:

* When adding multiple images in shopify, shopify will actually trigger 2 webhooks: 1 for the creation including only the main image and a update webhook containing all other images as well
* These webhooks are dispatched at roughly the same time (usually with at max. 1 second difference)
* Each of those webh

[2022-01-16 20:09] jackabox commented on #95
Thanks for the deep dive into this. I'll investigate using the details you have provided.

[2022-01-16 20:11] jackabox commented on #104
Hey, what do you mean 2022-01? The webhook should be set up as the add-on docs which specifies the end point to be posted too.

How have you implemented these ?

[2022-01-16 20:24] klickreflex commented on #104
Docs state it shoud be 'latest', Shopify shows 2022-1 prefix for 'latest' ('neueste' in german)
![image](https://user-images.githubusercontent.com/435825/149676710-9f107685-332c-4d15-b5fc-242ac87ccf42.png)

[2022-01-16 20:27] klickreflex commented on #104
But maybe my problems are related to #95. Will have to check deletion with my current workaround next week.

[2022-01-17 00:17] jackabox commented on #104
Try with 2021-07 and see if that fixes the issue. May be new changes in the latest updates.
On 16 Jan 2022, 20:28 +0000, Daniel Wentsch ***@***.***>, wrote:

[2022-01-17 16:22] jackabox commented on #95
@j6s / @klickreflex Digging into all of this a bit more.

There are a few things that aren't related here, apologies if I miss anything.

### Limiting The Issue

What's the difference between your staging and your local environment? If you're not having the issue locally, but are on staging, this sounds like your configuration is different in some way. Whether this is PHP, dependencies installed,

[2022-01-17 17:18] #103 closed

[2022-01-17 17:18] #104 closed

[2022-01-17 17:19] jackabox commented on #95
1.7.0 has a queue option in the config that will let you set a new queue with 1 process for now. This should make sure that things resolve 1 by 1.

[2022-01-17 17:45] klickreflex commented on #104
Not sure with your message and https://github.com/jackabox/statamic-shopify/commit/1eade64e5dd857a839fbc3680e722d01d947d5f2:

Should I still downgrade to api v2021-07 even when upgrading to 1.7?

[2022-01-17 17:52] jackabox commented on #104
Nope, tested on latest version and all should be working fine :)

[2022-01-17 17:53] klickreflex commented on #104
Awesome, thank you 🙏

[2022-01-17 18:08] jackabox commented on #98
Hey, @michaellindahl  // @austriker27. Any further progress with this one?

[2022-01-17 18:35] michaellindahl commented on #98
@jackabox During the past couple of weeks this was happening at a frequency of once a week.

I have a feeling that the permissions got wonky, and reverting the commit that deleted the file restored the file with the correct permissions. Which is why the frequency over time decreased. Although order volume also was high during the end of the year with new product launches.

As of yet, there has not

[2022-01-17 22:39] mnlmaier commented on #103
awesome! thanks a lot :)

[2022-01-20 19:06] klickreflex commented on #104
Just after lauching I had to find out that deletion does not work after all.
It _seems_ like it worked because products disappeared from the backend, but the actual markdown files were kept (with only the id and blueprint being kept), causing for all sorts of issues in collection queries where they still appear as empty entries.

Here's how thoese files look like:

![image](https://user-images.git

[2022-01-20 19:48] klickreflex commented on #104
I have to correct myself after investigating Git history. Deletion did work, but somehow those "ghost" files were automatically recreated (depending on the products days or hours) later:

<img width="1301" alt="CleanShot 2022-01-20 at 20 43 48@2x" src="https://user-images.githubusercontent.com/435825/150411034-4ea1f881-dcb5-4b7e-843b-eaee61ce2e9c.png">

Any ideas what could have caused this, and o

[2022-01-21 12:52] jackabox commented on #104
@klickreflex There's nothing directly that would cause a ghost file to be created. Can you try to replicate it in your local environment also and let me know if it exists? If so I'll try and do a bit more debugging. However, I'm not getting ghost files in my test environments so not sure what's going on here. Although, I am not using git integration to recommit on file save.

[2022-01-21 12:54] klickreflex commented on #104
I can't because I don't receive Webhooks locally and the site is live now.

[2022-01-30 20:46] austriker27 opened #110 "Cart javascript error -"
Heyo,

My cart and add to cart functionality is broken and I think I've narrowed it down to the JS.

## What happens
- Adding to cart doesn't work on some product pages, making me thing this might be a race condition bug.
### Error from the cart page:
[code]
### Error from the product page:
[code]

Note there is a cart id in localstorage if I do this in the console:
`localStorage.getItem('statamic

[2022-01-30 21:44] vannut commented on #110
I dug a little bit into this and found out there seems to be some kind of race-condition when setting/getting/refreshing the chekoutId.

If you visit the cart page in incognito-mode for the first time, the loading process stops midway (actually 75%, but thats just a static image).
If you look at the network request being made, we see three requests to the graphql endpoint. The first returns the fo

[2022-01-30 22:21] jackabox commented on #110
Can you try the updates in 1.7.0 (https://github.com/jackabox/statamic-shopify/releases/tag/1.7.0). Specifically #103. Let me know if that helps fix out your issues.

[2022-01-30 23:21] austriker27 commented on #110
Yup, in debugging @vannut and I saw that PR... I did update the addon (to 1.7.3) and republished the JS files (via `php artisan vendor:publish --tag="shopify-scripts"`).

To confirm, my `checkout.js` file looks like the following which matches the updates in #103 as far as I can see.

[code]

[2022-02-02 01:46] jackabox commented on #110
Can you try updating [L24](https://github.com/jackabox/statamic-shopify/blob/main/resources/js/shopify/checkout.js#L24) by replacing

[code]

with

[code]

and see if that fixes up the issues with the checkoutId potentially not being loaded?

[2022-02-02 04:30] austriker27 commented on #110
Unfortunately that's not working locally. I can push up to prod if you think that would be helpful.

Here's a console error I'm getting from the catch inside `products.js`. (I added a console log [here inside products.js](https://github.com/jackabox/statamic-shopify/blob/69091ee4ba10ae759c2505b4f40125f221952080/resources/js/shopify/products.js#L54))

[code]

[2022-02-02 04:33] austriker27 commented on #110
Let me know how I can help further because this bug is blocking orders for at least a week or so now and Im desperate to fix it!

[2022-02-03 02:24] jackabox commented on #110
@austriker27

A few things to try/rule out:

Firstly, If you open an incognito window, when you initially load the site. Can you check the network tab, you're looking for one of the first loads to the GraphQL endpoint.

Does this either:

1. Not load at all.
2. Give you an error of some kind? If so, can you provide me with the network output.

You should get the following if successful

![Screensh

[2022-02-03 17:25] austriker27 commented on #110
@jackabox

Thanks!

# GraphQL:
On a [product page (here's a link to this live on the prod)](https://rainierwatch.com/shop/headwear/lightweight-baby-beanie), the first graphQL load has an error:
[code]

# Loading scripts:
What is the helper? I basically am just importing them in my [`site.js`](https://github.com/RainierWatch/rainierwatch-v4/blob/29b9a93d46d20ae1bb832a1eb98c3f7e3f0a2a89/resources/js

[2022-02-03 18:08] jackabox commented on #110
@austriker27

Can you show me your products.js, specifically the imports at the top and the `const handleProductFormSubmit` function.

[2022-02-03 18:53] jackabox commented on #110
@austriker27 Can you change the [L46 on products.js](https://github.com/jackabox/statamic-shopify/blob/main/resources/js/shopify/products.js#L46) and replace `checkoutId` with `localStorage.getItem('statamic.shopify.cart.id')`. Let me know if that works.

[2022-02-03 19:11] jackabox commented on #110
@austriker27 After debugging further this happens in 2 more places, please review #111 for the changes made, specifically `checkoutId` being changed to `localStorage.getItem('statamic.shopify.cart.id')`

[2022-02-03 23:33] jackabox commented on #110
@austriker27 Glad to hear you've found out what's the issue. :)

[2022-02-16 06:55] michaellindahl commented on #98
@jackabox this is still occurring. Sadly we already are using the `default` queue that only has one process so that is not an issue with this install.
I'm going to try to replicate this with a new blank statamic + statamic-shopify site with the production store, where both the production site and blank site receive the same web hooks.

[2022-02-16 14:06] jackabox commented on #98
@michaellindahl Bugger, was hoping due to being quiet it had been resolved. Are you getting it on the same files – or is it a different collection of products? Let me know how the replication goes, if you can pull all the products fresh too that'd be great, as had an issue that required a fresh pull (clean set of files) to resolve recently.

[2022-02-16 18:37] austriker27 commented on #98
Since my last update ([products deleted as of 11/26](https://github.com/jackabox/statamic-shopify/issues/98#issuecomment-985176701)), here's whats been deleted:

## 02/15
content/collections/products/the-mountain-is-out-eco-tee.md

## 02/12
content/collections/products/mystery-sticker-5-pack.md

## 01/31
content/collections/products/protect-our-parks-bear-hiking-hat.md

## 01/28
content/collection

[2022-03-02 17:08] jackabox commented on #98
Hey @michaellindahl Did you get chance to replicate with a fresh install?

[2022-03-02 19:46] Pixney-William opened #115 "Cant pull in products, says my api credentials are not correct"
I followed these instructions: https://statamic-shopify.jackwhiting.co.uk/setup

Shopify seems to have a new look when it comes to setting up things since January. Do you have new recommendations here? Because seems like it doesn't want to recognise my api credentials. Even gave it all the permissions there was.

[code]

[2022-03-02 19:48] Pixney-William commented on #115
Using these credentials
![Group 1](https://user-images.githubusercontent.com/31292231/156438357-0904baad-3ab6-4c7c-83d6-fe2675f08c8d.png)

And the url to my shop is/should be correct.

[2022-03-03 09:40] jackabox commented on #115
Thanks for reporting this, found the issue. Will get a patch out ASAP.

[2022-03-03 09:48] #115 closed

[2022-03-03 09:51] jackabox commented on #115
Hey @Pixney-William,

If you update to 1.7.4 and then try the following:

Above where you have these credentials, there will be a button that says "Install App". You need to run this, and it will generate an Admin API Token for you. Copy that token (keep it safe, you only get it once) and add it to the env like this:

`SHOPIFY_ADMIN_TOKEN=TOKEN HERE`

You no longer need the `SHOPIFY_AUTH_KEY` or `

[2022-03-03 18:25] Pixney-William commented on #115
Worked like a charm! Thanks for super quick support!

[2022-03-03 18:51] Pixney-William commented on #115
@jackabox Just noticed (without having looked at the code) that you are most likely looking for one or both of the below to exist in the env file. Because without them trying to access the shopify url within the control panel it says the store is not setup. Adding them, it all works as a charm though. Just thought i would let you know.

[code]

[2022-03-06 14:58] grandpalacko opened #118 "CP Dashboard always shows "Set Things Up" section with new Admin Token"
Even if Admin Token is set for new Shopify apps, the Dashboard in CP always shows the "Set Things Up" section and the Import functionality is never visible.

The problem comes from the check for "can run import", it never checks for the existence of the Admin Token:
https://github.com/jackabox/statamic-shopify/blob/4e47e20a30ff7e28391973c238615f69c3799613/src/Http/Controllers/CP/DashboardControlle

[2022-03-07 23:15] jackabox commented on #118
Thanks, It's on my list to fix and should be patched in the next day or two. Also flagged in #115.

For now, please use the command line.

[2022-03-08 11:39] #118 closed

[2022-04-14 14:12] austriker27 commented on #98
I dont think @michaellindahl has made any progress on this and I just don't have time (new baby, full time job, full time side hustle, yada yada yada). Also you will be stoked to know I dropped my headless shopify site the other day 😢 🎉 and replaced it with a shopify build. (I just dont have time or resources to fully dedicate to it). That being said I'm still going to use this awesome addon on my

[2022-05-26 12:07] jackabox commented on #98
Congrats @austriker27 :)

Closed for now.

[2022-06-29 13:08] ncla opened #121 "Product import fails due to a 302 redirect after changing the Shopify store domain"
Related:
https://github.com/phpclassic/php-shopify/pull/238
https://github.com/phpclassic/php-shopify/issues/206

Solution can be anything from setting CURL to follow redirects, separate config option for domain for back-end requests, allow override php-shopify config entirely through config.

[code]

[2022-06-29 15:56] jackabox commented on #121
Why would you need the plugin to follow a redirect? Shopify sets the domain you use for the requests, and the plugin should follow this.

[2022-06-29 16:28] ncla commented on #121
This is a back-end error and I need to import products. I had changed my Shopify store URL from xxx.myshopify.com to shopify.mycustomdomain.com, as such I updated SHOPIFY_APP_URL env variable to shopify.mycustomdomain.com. When using Storefront API, I want the checkout URL to be shopify.mycustomdomain.com, not xxx.myshopify.com - this works fine and users get redirected to shopify.mycustomdomain.c

[2022-07-20 14:33] ncla opened #122 "Saving variant entry data produces error about missing storefront_id due to missing field"
With the current blueprint for variants, if you save the variant (edit title or have some custom additional field), Statamic will remove storefront_id property from variant content file, because there is no `storefront_id` field in the blueprint. And if you are using the `product_variants` tag in front-end, then there will be exception generating the `<select>` because the tag uses that property.

[2022-07-20 14:42] ncla opened #123 "Customer is unable to create a new checkout/cart after completing an order"
With the current JS assets that this addon ships with, if a customer completes an order and they return to the website, once they go to cart it will show the completed cart and if they press checkout button, it will also go to Shopify "order completed" page. Adding products to this cart will fail. Customer is unable to place a new order until they clear local storage. As a fix, checkout ID should

[2022-07-20 15:42] ncla opened #124 "FR: Loosen up the templating of product_variants tag"
Right now if you want to change the markup of the `<select>` coming from `product_variants` tag then you must create basically another tag and duplicate this addons tag code. The methods responsible for creating the markup are `private`, and I cannot simply extend the ProductVariants tag class and just override `parseOptions`, where I could add the HTML attribute I want. Ideally, in my opinion, th

[2022-07-20 15:48] jackabox commented on #122
@ncla Be great if you could open a PR for this :)

[2022-07-20 15:49] jackabox commented on #124
@ncla Sure, it's meant to be quite tight at the moment but I could see the use case. Happy for a PR to tackle this.

[2022-07-20 15:50] #98 closed

[2022-07-20 15:51] #124 closed, assigned to nobody

[2022-07-21 13:09] #122 closed

[2022-07-21 13:09] #123 closed

[2022-07-21 13:14] jackabox commented on #88
ProductVariants can be overwritten as I've changed the scope in v1.7.6 (#129).

[2022-07-21 13:14] #88 closed

[2022-08-27 06:48] jensolafkoch commented on #76
I'd like to see an implementation where you can opt in via config file shooify.php to either get the metafields (boolean) or not and then specify the ones you want (or just say 'all' maybe).

Metafields which are not listed any more should be deleted in product entries.

*

What I do right now to get metafield content is to hook into the boot() function in AppServiceProvider to get all the metafie

[2022-08-27 07:06] jensolafkoch opened #135 "Changing SEO slug in Shopify duplicates product"
(Version 1.7.6)

We observed that any time we change the URL handle for a product in Shopify in the SEO section, on next import we get a duplicated product in Statamic instead of an updated slug in the original entry.

Changes in Shopify were made here in the latest input (German UI) of a product entry, called "URL-Handle":

![shopify-seo](https://user-images.githubusercontent.com/47628003/1870790

[2022-09-12 17:08] Pixney-William commented on #135
I am finding that i also have duplicated products on import. I also use 1.7.6 and will start looking into this a bit now. Thought i would make a comment just to make sure we are aware others also experience this.

[2022-09-12 17:13] Pixney-William commented on #135
Scenario:

1. In shopify with the same title "william". I import these, and that works fine.
2. Slug of one product is `william` and slug of second product is `william-1`
3. Change `william.-1` to `william-juice`
4. Import all products
5. You can see 3 products in your list. Where one has the slug of `william-1`

[2022-09-16 13:41] jackabox commented on #135
Hey both, apologies for any delay in getting back in response - I've been on vacation over the last month.

Products are currently imported based on matching the slug, so this would identify as a new product at the moment. This will need an adjustment to query products where they have the unique ID assigned to them but is a bit more complex in terms of querying the fields. I will action this as so

[2022-09-16 17:36] Pixney-William commented on #135
Sounds great @jackabox

[2022-09-17 06:47] jensolafkoch commented on #135
Great news, very much looking forward! @jackabox

[2022-09-28 08:08] jensolafkoch commented on #110
I had a similar problem, where I always got the "invalid global id" error message from Shopify when trying to delete an item from the cart or update the quantity,

My solution was to change the first parameter of .removeLineItems from checkoutId (which holds the whole Promise when I output it to the console) to the value from localeStorage. Otherwise the id in the request is always empty.

[code]

[2022-09-28 08:12] jensolafkoch opened #136 "Checkout: Items not deletable or updatable becaus of "Invalid global id""
I believe I ran into a similar problem to #110 (I posted there as well before I realised that the issue was closed already).

I always got the "invalid global id" error message from Shopify when trying to delete an item from the cart or update the quantity,

My solution was to change the first parameter of .removeLineItems from checkoutId (which holds the whole Promise when I output it to the cons

[2022-09-29 06:12] jensolafkoch commented on #97
This seems to be still open, which is something which may confuse/annoy visitors/buyers.

Has anyone a workaround?

[2022-10-09 16:35] nutsandbananas commented on #135
@jackabox We have a client experiencing a lot of problem with this so just checking what the status on this issue is or if someone else has a solution for it?

[2022-10-09 18:19] jackabox commented on #135
Hey apologies for the delay. I’ll handle it as soon as possible I’ve just had a few other things take over.
On 9 Oct 2022 at 17:35 +0100, Emma Norrman ***@***.***>, wrote:

[2022-10-21 15:30] #135 closed

[2022-10-21 15:37] #136 closed

[2022-10-25 08:16] jensolafkoch commented on #135
@jackabox

We checked the new version and the effect is now that any change in the URL handle of a Shopify product is **not** reflected in Statamic after re-importing the product.

Do I miss something here?

[2022-10-25 09:12] jensolafkoch opened #139 "Cart is still filled after completed checkout"
When a checkout is completed on the Shopify side (paid and Thank-you-page shown), and I go back (in the same session) our cart is still filled with the items just bought.

Is this the expected behaviour? Shouldn't the cart be emptied after a completed checkout?

[2022-10-28 15:00] jackabox commented on #135
@jensolafkoch The URL is not currently updated in Statamic on re-import as the Statamic source is treated as the truth in terms of SEO. Since this will be the front face of the website and where the pages are handled.

For v2, this may change but it would break backwards compatibility at the moment.

[2022-11-04 10:50] freshface opened #140 "Uncaught TypeError"
In site.js i am loading the javascript:

[code]

But got an error: **is not a constructor** in checkout.js

<img width="1272" alt="Screenshot 2022-11-04 at 11 49 27" src="https://user-images.githubusercontent.com/103913/199955277-9bb453e5-0865-410b-a899-16ec2ca1f77a.png">